<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на наш сайт!</h1>
        <nav>
            <ul>
                <li><a href="#home" class="active">Главная</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h2>Приветствуем на главной странице!</h2>
        <p>Здесь вы найдёте все необходимые информации о наших услугах и предложениях.</p>
        <button onclick="displayMoreInfo()">Узнать больше</button>
    </section>

    <footer>
        <p>©2024 Все права защищены.</p>
    </footer>

    <script src="../static/js/scripts.js"></script>
</body>
</html>
